<a href="https://colab.research.google.com/github/euniceroh24/class2022spring/blob/main/string0316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

**string 문자열 인덱싱** <br/>
*string과 list는 매우 비슷. 특히 인덱싱

a 0, b 1, c 2, d 3, e 4, f 5 <br/>
콜론의 왼쪽은 포함, 오른쪽 포함 x

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

**리스트 인덱싱** <br/>
100 0, 200 1, 300 2

In [ ]:
len(s)

6

**len함수는 s의 길이를 계산한다** <br/>
*n()과 같이 괄호 형태가 있으면 함수이다

In [ ]:
s[1]+s[3]+s[4:]*10

*문자열도 더하기 기호 사용 가능

In [ ]:
s.upper()

s를 대문자로 만드는 함수

In [21]:
s = ' this is a house built this year.\n' 	
s

' this is a house built this year.\n'

s가 새로 정의되었다

In [5]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

house가 처음 나오는 게 11번째 자리
(공백도 포함된다)

In [ ]:
result = s.find('this')	      # index of first instance of string t inside s (-1 if not found)
result

this가 **처음** 나오는 게 1번째 자리

In [42]:
s = s.strip()      	          # a copy of s without leading or trailing whitespace
s

'his is a house built this year.'

괄호 안에 든 것을 **바깥부터** 제거하는 strip 함수 <br/>
여기서는 ()안에 아무것도 없으므로 문자열 앞뒤로(문자열 바깥부터) **공백**을 제거한다 <br/>

In [44]:
'this is a house built this year'.strip('thar')

'is is a house built this ye'

껍질 벗기듯이 문자도 벗겨낼 수 있다
(안에 있는 것은 안 됨)

In [13]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['his', 'is', 'a', 'house', 'built', 'this', 'year.']

문자열을 리스트로 쪼개는(?) split 함수 <br/>
괄호 안에 빈칸이 있으면 빈칸을 경계로 쪼개서 리스트로 만든다 <br/>
이때 빈칸은 **괄호 안에 포함된 값이므로** 리스트의 요솟값에 포함되지 않는다

In [46]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

' this is a house built this year.\n'

빈칸을 이용해 리스트를 문자열로 붙이는 join 함수 <br/>
역연산처럼 완전히 원상복귀되었다

In [47]:
s = s.replace('this', 'that') # replace instances of t with u inside s
s

' that is a house built that year.\n'

this을 that으로 바꿔주는 replace 함수 <br/>
string 속의 모든 this가 that으로 바뀌었다