<a href="https://colab.research.google.com/github/euniceroh24/class2022spring/blob/main/syntax0316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

### 반복문 for
for의 뜻 <br/>
a에 있는 것들을 **처음부터 하나하나씩** 받아서 i에 넣고 실행시킨다 <br/>
indent: print라는 명령이 for에 종속되어있음을 나타내기 위함 <br/>
만약 indent가 없다면 print명령은 for과 독립적으로 실행된다

In [15]:
a = [1, 2, 3, 4]
for i in range(len(a)): #range(4)와 같다
    print(a[i])

print(type(a))
print(len(a))

1
2
3
4
<class 'list'>
4

for함수를 쓸 때 range함수를 같이 쓸 수도 있는데<br/>
range를 쓴 것은 index를 활용한 방법이다

In [ ]:
a = [1,2,3,4]
for i in range(1,3):
    print(a[i])

a = [1,2,3,4]
for i in range(3):
    print(a[i])  

a = [1,2,3,4]
for i in range(1):
    print(a[i])

range함수의 인덱싱
괄호 안에 숫자 n 하나만 넣으면 
i<숫자 n, <br/>
괄호 안에 (n,m)과 같이 범위를 설정할 수도 있다 이때는 n<=i<m으로 이해할 것

In [13]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

print(type(a))

red
green
blue
purple
<class 'list'>

글자도 for 반복문 안에 넣을 수도 있다

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

print(i)
print(a[2])

위와 달리 print(i)가 아니라 print(a[i])가 되는 이유는 <br/>
위 함수에서 i에 들어가는 게 list의 요솟값이 아니라 숫자이기 때문이다 <br/>
그렇기 때문에 요솟값을 출력하려면 a[i]형태로 불러와야한다.

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

= : 변수에 대입하는 기호 <br/>
== : 우리가 생각하는 equal 기호 <br/>
!= : ~가 아니라면
여기서도 for문처럼 콜론과 인덴트가 중요하다

In [21]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

**중요** 돌려보지 않고도 예측가능해야함 <br/>
for i in range(1,3)에서 1,2가 i에 대입됨<br/>
for j in range(3,5)에서 3,4가 j에 대입됨

실행순서 1 * 3, 1 * 4, 2 * 3, 2 * 4

In [22]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

실행 순서 
1* 4
2* 4

In [25]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

c = [i if i>=2 for i in a]
c

SyntaxError: ignored

반복문은 리스트 안에 넣어 리스트를 생성할 수 있다 <br/>
if가 for 뒤에 와야 한다

In [26]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

문자열의 길이가 4이상인 것만 출력하여 리스트를 만들고자 할때

In [33]:
a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)}

c

{'blue': 3, 'green': 2, 'purple': 4, 'red': 1}

이렇게 딕셔너리를 만들 수도 있다
중괄호 안에 (key:value)형태를 만들면 a[1]과 b[1]부터 각각 매칭되어 딕셔너리가 만들어진다

print(c)면 {'red': 1, 'green': 2, 'blue': 3, 'purple': 4}
c면 {'blue': 3, 'green': 2, 'purple': 4, 'red': 1}가 출력되는 것은 왜 그럴까