<a href="https://colab.research.google.com/github/euniceroh24/class2022spring/blob/main/variables0316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬에서 중요한 네 가지 
1. 변수(variables)-number, string, list..
2. 문법(syntax)-조건문 if, 반복문 for
3. 함수(function)
4. 패키지(packages)-numpy,pandas,nltk,matplotlib
https://learnpython.com/blog/most-popular-python-packages/

자연어의 word=컴퓨터언어의 varible<br/>
자연어의 syntax= 컴퓨터언어의 syntax

In [1]:
a = 1; print(type(a))

<class 'int'>

### 숫자 <br/>
1을 변수 a에 대입하기 <br/>
변수 a의 타입은 int-**integer 정수형**이다

In [2]:
a = 1.1; print(type(a))

<class 'float'>

1.1을 변수 a에 대입하기 <br/>
변수 a의 타입은 float-**floating point 실수형**이다

In [3]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

### 문자열 <br/>
문자 123을 따옴표를 통해 변수 a에 대입하기 <br/>
변수 a의 타입은 **문자열 string**이다 <br/>
문자열 인덱싱하면 
**0번째는 1, 1번째는 2, 2번째는 3이어서** print(a[1])하면 2가 출력됨 <br/>
(따옴표로 둘러싸여 있으니까 숫자여도 문자열)

In [17]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

문자 hello를 따옴표를 통해 변수 a에 대입하기 <br/>
변수 a의 타입은 **문자열 string**이다 <br/>
문자열 인덱싱하면 **0번째 h, 1번째 e, 2번째 l,,,이어서**
print(a[1])하면 e가 출력됨

In [19]:
a='abcdef123'
a[:3]

'abc'

### 문자열을 슬라이싱하는 방법 <br/>
0번째 a, 1번째 b, 2번째 c, 3번째 d,,,이어서 a[:3]하면 a부터 c까지 출력됨 <br>
0<=a<3 , 리스트 슬라이싱과 같다

In [7]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

### 리스트 <br/>
리스트를 대괄호를 통해 변수 a에 대입하기 <br/>
변수 a의 타입은 **리스트 list**이다 <br/>
리스트 인덱싱하면 **0번째는 1, 1번째는 2, 2번째는 3, 3번째는 4**이어서 print(a[0])하면 1이 출력됨

*list와 tuple
list와 tuple은 거의 동일하다 <br/>
차이점 1) list는 대괄호, tuple은 소괄호를 씀 <br/>
차이점 2) list는 요솟값을 바꿀 수 있지만, tuple은 불가능

ex) a=[1,2,3]
a[1]=0 이렇게 요솟값 바꾸기 list 가능, 튜플 불가능

In [15]:
print(a[1:3])
print(a[1:])
print(a[:2])
print(a[:])
print(a[1:-1])

[2, 3]
[2, 3, 4]
[1, 2]
[1, 2, 3, 4]
[2, 3]

### 리스트를 슬라이싱하는 방법 <br/>
1번째 요소부터 부터 3번째 앞까지 출력함 <br/>
a=[n:m] : n번째부터 m-1번째 자료형까지 출력 <br/>
a=[n:] : n번째부터 끝까지 <br/>
a=[:m] : 처음부터 m-1번째까지 <br/>
a=[:] : 처음부터 끝까지 <br/>
a=[n:-1]: 처음부터 뒤에서 하나빼고

In [16]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1]);print(type(a[0]))

<class 'list'>
1
a
[3, '4']
4
<class 'int'>

###list의 인덱싱

a의 0번째 요솟값 = 1 <br/>
a의 1번째 요솟값 = a <br/>
a의 2번째 요솟값 = [3, '4'] <br/>
a의 2번째 요솟값인 리스트 안에 있는 1번째 요솟값 = 4

*리스트는 문자열, 숫자, 숫자와 문자열, 리스트 모두를 요솟값으로 가질 수 있다

In [22]:
a =	{'a': "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])
print(a['a'])

<class 'dict'>
apple
apple

### 딕셔너리 자료형
중괄호 사용, 콤마(,)로 이어져있음 <br/>
key와 value가 맵핑되어 있다 <br/>
순서가 아니라 key를 통해 자료에 접근 가능

In [5]:
a[2]

[3, '4']

cf. 마지막 줄은 print를 누르지 않아도 print가 된다